{% extends 'base.html' %}

{% block breadcrumbs %}
  {% set domain = run_path.split('/')[0] %}
  {% set run_id = run_path.split('/')[1] %}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ url_for('graph_page', run_path=run_path) }}">{{domain }} / {{ run_id }}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Outliers
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Outlier filters</h1>
  <ul class="govuk-list govuk-list--spaced">
    <li>
      <h2 class="govuk-heading-m"><a class="govuk-link" href="{{ url_for('see_unbalanced_aliases', run_path=run_path) }}">Unbalanced terms</a></h2>
      <p class="govuk-body">Show terms that are unbalanced from a usage perspective.</p>
    </li>
    <li>
      <h2 class="govuk-heading-m"><a class="govuk-link" href="{{ url_for('see_similar_aliases', run_path=run_path) }}">Identify misspelled terms</a></h2>
      <p class="govuk-body">Highlight terms that have similar wording, indicating possible misspellings or room for standardisation.</p>
    </li>
  </ul>
</div>
{% endblock %}
