{% extends 'base.html' %}

{% block content %}
<div class="vis-menu">
  <p class="vis-menu__heading">Choose a graph to explore:</p>
  {% if visualisations %}
  <ul class="vis-menu__list">
    {% for v in visualisations %}
    <li class="vis-menu__item">
      <a class="vis-menu__link" href="{{ url_for('graph_page', run_path=v.run_path) }}">{{ v.run_path }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="vis-menu__empty">There are no visualisations to show.</p>
  {% endif %}
</div>
{% endblock %}
